@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body {
    margin: 0px;
}
.root {
    text-align: center;
    background: no-repeat center center / cover;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #00000026;
    color: #ffffff;
    align-items: center;
}
.background {
    object-fit: contain;
}
.loginButton {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    padding: 0px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0000004D;
    color: #ffffff;
    border-radius: 3px;
}
.logo {
    font-family: Poppins;
    font-size: 32px;
    width: 39px;
    height: 16px;
}
.title {
    font-family: Poppins;
    font-size: 42px;
    padding-top: 7%;
    color: #ffffff;
    padding-bottom: 1%;
    text-shadow: 0px 3px 7px #000000;
}
.searchBox {
    display: flex;
    justify-content: center;
}
.searchArea {
    padding: 10px;
    border-radius: 3px;
    background-color: #00000080;
    display: flex;
}
.searchInputField {
    height: 50px;
    width: 385px;
    border: 0;
    padding: 0px;
    font-size: 16px;
    padding-left: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #000000B3;
}
input::placeholder{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #00000080;
}
.searchButton {
    padding: 0px;
    height: 50px;
    width: 115px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    background-color: #77b800;
}
.displaySearchOutput {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.displayOutputBox {
    background-color: #00000080;
    padding: 12px;
    display: flex;
    align-items: center
}
.searchOutput {
    color: #ffffff;
    font-size: 32px;
}
.clearButton {
    margin-left: 12px;
    height: 30px;
    width: 70px;
    border: 0;
    font-size: 14px;
    color: #ffffff;
    background-color: #77b800;
}